__pycache__/
*.pyc
.pytest_cache/
.venv/
.env
*.egg-info/
data/bronze/
data/silver/
data/gold/
data/metrics/
!data/.gitkeep
!data/bronze/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep
!data/metrics/.gitkeep
