__pycache__/
*.pyc
.pytest_cache/
.venv/
.env
*.egg-info/

data/bronze/**
!data/bronze/.gitkeep

data/silver/**
!data/silver/.gitkeep

data/gold/**
!data/gold/.gitkeep

data/metrics/**
!data/metrics/.gitkeep
